/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: arial;
}

header {
    background-color: #255EE9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

span {
    padding: 15px;
}

.item-img  img {
    width: 800px;
}

.title {
    font-weight: bold;
    font-size: 50px;
    margin: 20px;
    line-height: 60px;
}

.paragraph {
    padding: 10px;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 40px;
}

.description{
padding: 10px;
margin: 15px;
font-size: 20px;
font-weight: bold;
margin-bottom: 40px;
line-height: 30px;
}

ul {
    list-style-type: none;
    color: #fff;
    font-weight: bold;
    line-height: 25px;
}

footer {
    background-color: #23272A;
}

/* header */

.navigation {
    padding: 50px;
}

.logo {
    
    vertical-align: middle;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    display: inline;
}

.nav {
    width: 601px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;
    display: inline;
}

.login {
    
    vertical-align: middle;
    color: #000;
    background-color: #fff;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
    text-align: end;
    display: inline;
}

/* section */

.introduction {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    padding-bottom: 80px;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    padding: 50px;
}

.intro {
    margin: 60px;
    width: 900px;
    height: 400px;
    text-align: center;
}

.download {
    background-color: #fff;
    color: #000;
    padding: 15px;
    border-radius: 30px;   
    margin-right: 110px;
}

.open-browser {
    background-color: #23272A;
    padding: 15px;
    border-radius: 30px;   
    margin-left: 110px;
}

.item-even {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    max-width: 90%;
    margin: 0 auto;
}

.item-script {
    margin: 60px;
    height: 550px;
}

.item-odd {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    max-width: 90%;
    margin: 0 auto;
}

.item-script-odd {
    margin: 60px;
    margin-right: 0px;
    margin-left: 200px;
    width: 35%;
    height: 550px;
    max-width: 80%;
    margin: 0 auto;
}

.last-item-odd {
    background-color: #fff;
    padding: 50px;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.last-item-script {
    text-align: center;
    display: block;
}

.last-item-img {
    text-align: center;
}

.last-item-title {
    font-weight: 600;
    font-size: 35px;
    margin: 20px;
    padding-bottom: 40px;
}

.download-mac {
    background-color: #8EA1E1;
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
}   

.interaction {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 50px 35px 50px;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

.all-int {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.int {
    width: 25%;
    height: 300px;
}

.int-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    color: #677CC2;
}

.int-desc {
    margin-top: 35px;
    margin-bottom: 25px;
    color: #fff;
}

.flag {
    width: 25px;
}

.symbol {
    margin-left: -15px;
    color: #fff;
}

.int-list {
    width: 18.75%;
    text-align: left;
    margin-left: 30px;
}

.list-title{
    color: #677CC2;
}

.border-blu {
    display: flex;
    height: 1px;
    width: 100%;
    max-width: calc(80% - 100px);
    margin: 0 auto;
    background-color: #4A5882;
    padding: 0;
}

.end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 50px;
    max-width: 80%;
    margin: 0 auto;
}

.singin {
    vertical-align: middle;
    color: #fff;
    background-color: #8EA1E1;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
    text-align: end;
}
